<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Registered Users on this website: </h1>
    <table id="user_table">
      <tr>
       <th>Name</th>
        <th>Email</th>
     </tr>
      {% for user in user_details %}
        <tr>
          <td>{{ user['name'] }}</td>
           <td> {{ user['email'] }}</td>
        </tr>
      {% endfor %}
    {% endblock %}
  </body>
</html>
